@font-face {
    font-family: century-gothic;
    src: url('../font/century-gothic.ttf');
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    background: linear-gradient(to bottom, #90C0DC 50%, #fff) no-repeat;
}

body,
input,
textarea {
    font-family: century-gothic;
}

.container {
    width: 100%;
    height: 65px;
}

.cabecalho h2 {
    color: #ffffff;
    transition: ease-in-out .5s;
}

.cabecalho h2:hover {
    font-size: 30px;
}

.container .cabecalho {
    width: 100%;
    height: 65px;
    background-color: #4e97c3;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}

.logo-container .logo-img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 8px;
}

.logo-container .logo-img img {
    width: 100%;
}

.cabecalho h2 {
    color: #ffffff;
    transition: ease-in-out .2s;
}

.cabecalho h2:hover {
    font-size: 25px;
}

.menu-lista {
    display: flex;
    margin-right: 35px;
}

.menu-lista li {
    margin-left: 30px;
    list-style: none;
}

.menu-lista a {
    font-size: 18px;
    transition: color ease-in .2s;
}

.menu-lista a:hover {
    color: #0f26a6;
}

h1.title {
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    text-shadow: 2px 2px 5px #c40233;
}

.card {
    width: 90vw;
    height: 90vh;
    margin: 40px 80px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    position: relative;
}

.cards img {
    padding: 20px 20px;
    width: 100%;
    height: 40vh;
    border-radius: 8%;
}

.card-jogos {
    position: relative;
    display: flex;
}

.card-jogos button {
    position: absolute;
    bottom: 250px;
    left: 700px;
}

#ver-mais {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    background: #c4c4c4;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    transition: background .2s;
}

#ver-mais:hover {
    background: #7c7c7cb0;
}


/*----- footer ------*/

.rodape {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 30px;
}

.rodape .rodape-info {
    display: flex;
    align-items: center;
}

.rodape .rodape-info .info {
    margin-left: 30px;
}

.rodape .rodape-info .info a {
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.logo-rodape {
    display: flex;
}

.logo-rodape .logo-img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.logo-rodape h3 {
    font-size: 28px;
}

.logo-rodape .logo-img img {
    width: 100%;
}

.rodape p {
    font-weight: 600;
}

.redes-sociais {
    display: flex;
    align-items: center;
}

.redes-sociais .img-social {
    margin-left: 30px;
    cursor: pointer;
}

.redes-sociais .img-social img {
    width: 40px;
    transition: ease-in .2s;
}

.redes-sociais .img-social img:hover {
    width: 45px;
}