@font-face {
    font-family: century-gothic;
    src: url('../font/century-gothic.ttf');
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


a {
    color: #fff;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #90C0DC 10%, #fff) no-repeat;
}

body,
input,
textarea {
    font-family: century-gothic;
}


.container .cabecalho {
    width: 100%;
    height: 65px;
    background-color: #4e97c3;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}

.logo-container .logo-img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 8px;
}

.logo-container .logo-img img {
    width: 100%;
}

.cabecalho h2 {
    color: #ffffff;
    transition: ease-in-out .2s;
}

.cabecalho h2:hover {
    font-size: 25px;
}

.menu-lista {
    display: flex;
    margin-right: 35px;
}

.menu-lista li {
    margin-left: 30px;
    list-style: none;
}

.menu-lista a {
    font-size: 18px;
    transition: color ease-in .2s;
}

.menu-lista a:hover {
    color: #0f26a6;
}


.swiper-container {
    max-width: 90%;
    height: 560px;
    margin-top: 80px;
}

.swiper-slide img {
    width: 100%;
}

.destaques {
    width: 85vw;
    height: 570px;
    margin: 80px auto 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.destaques h2 {
    font-size: 42px;
    font-weight: 900;
}

.destaques .conteudo-container {
    display: flex;
    justify-content: space-around;
    align-self: stretch;
}

.destaques .conteudo {
    text-align: center;
}

.destaques .conteudo .img {
    width: 300px;
}

.destaques .conteudo .img img {
    width: 100%;
}

.destaques .conteudo-container p {
    font-size: 20px;
    width: 300px;

    padding-top: 20px;
}

#ver-mais {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    background: #c4c4c4;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    transition: background .2s;
}

#ver-mais:hover {
    background: #7c7c7cb0;
}

.rodape {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
}

.rodape .rodape-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-rodape {
    display: flex;
}

.logo-rodape .logo-img {
    width: 65px;
    height: 65px;
    border-radius: 50%;

    background-color: #5e8aff;
    margin-left: 50px;
    margin-bottom: 20px;
}

.logo-rodape h3 {
    font-size: 28px;
}


.logo-rodape .logo-img img {
    width: 100%;
}

.rodape p {
    font-weight: 600;
}
