* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --cinza: #8b8b8b;
}

a {
    color: #ffffff;
}

body {
    background: linear-gradient(#90C0DC, #ffffff) no-repeat;
}

.container {
    width: 100%;
    height: 100vh;
}

.cabecalho h2 {
    color: #ffffff;
    transition: ease-in-out .5s;
}

.cabecalho h2:hover {
    font-size: 30px;
}

.container .cabecalho {
    width: 100%;
    height: 60px;
    background-color: #90C0DC;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}

.logo-container .logo-img {
    width: 50px;
    height: 50px;
    background: #5e8aff;
    border-radius: 50%;
    margin-right: 30px;
}

.menu-lista {
    display: flex;
    margin-right: 35px;
}

.menu-lista li {
    margin-left: 30px;
    list-style: none;
}

.menu-lista a {
    font-size: 20px;
    text-decoration: none;
    transition: color ease-in .5s;
}

.menu-lista a:hover {
    color: #0f26a6;
}

.card {
    width: 90vw;
    height: 100vh;
    margin: 80px 80px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    position: relative;
}

.cards img {
    padding: 20px 20px;
    width: 100%;
    height: 40vh;
    border-radius: 8%;
}

.card-jogos {
    position: relative;
    display: flex;
}

.card-jogos button {
    position: absolute;
    bottom: 250px;
    left: 700px;
}

#ver-mais {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    background: #c4c4c4;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    transition: background .2s;
}

#ver-mais:hover {
    background: #7c7c7cb0;
}


/* ---- MODAL---- */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 80px;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: #ffffff;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
    /* respeita o pai mulek*/
}

.modal .close-modal {
    color: black;
    position: absolute;
    /*oxiii paii*/
    right: 8px;
    top: 8px;
    cursor: pointer;
}


/* ---- MODAL ACTIVE ---- */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 50%;
    height: 98%;
    position: absolute;
}


/* ---- DESC GAME ----*/

.desc-game {
    position: absolute;
    width: 40%;
    height: 100%;
    margin: 3.6%;
    margin-left: 55%;
}

.game-content h1,
.game-content h2,
.game-content h3 {
    margin-bottom: 20px;
    text-align: center;
}

.game-content p {
    margin: 10px;
    font-size: 17px;
    opacity: 0.9;
    line-height: 28px;
}

.game-content ul {
    list-style-type: decimal;
    margin: 10px;
}

.game-content ul li {
    line-height: 28px;
    margin: 10px;
    font-size: 18px;
}

.download-game a {
    color: #306ebf;
    font-weight: bold;
    background-color: #eee;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.game-contato {
    text-align: center;
}

.game-contato a {
    border-radius: 10px;
    color: #306ebf;
    font-weight: bold;
    padding: 10px;
    background-color: #eee;
    text-decoration: none;
}


/* conteudo game oculto */

.game-content {
    display: none;
}


/* conteudo game ativo */

.active2 {
    display: block !important;
}


/*----- footer ------*/

.rodape {
    width: 100%;
    height: 250px;
    background: #ffffff;
    display: flex;
}

.logo-rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.logo-rodape .logo-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #5e8aff;
    margin-left: 50px;
    margin-bottom: 20px;
}

.logo-rodape h3 {
    font-size: 28px;
}