* {
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


a {
    color: #fff;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #90C0DC 10%, #fff) no-repeat;
}

body,
input,
textarea {
    font-family: 'Nunito', sans-serif;
}

/* .container {
    width: 100%;
    height: 100vh;
} */

.container .cabecalho {
    width: 100%;
    height: 60px;
    background-color: #90C0DC;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;

    padding-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 35px;
}

.logo-container .logo-img {
    width: 52px;
    height: 52px;
    border-radius: 50%;

    margin-right: 8px;
}

.logo-container .logo-img img {
    width: 100%;
}

.cabecalho h2 {
    color: #ffffff;
    transition: ease-in-out .2s;
}

.cabecalho h2:hover {
    font-size: 25px;
}

.menu-lista {
    display: flex;
    margin-right: 35px;
}

.menu-lista li {
    margin-left: 30px;
    list-style: none;
}

.menu-lista a {
    font-size: 20px;
    transition: color ease-in .2s;
}

.menu-lista a:hover {
    color: #0f26a6;
}

.banner {
    width: 90vw;
    margin: 80px auto 0;
    height: 550px;
    position: relative;

    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .banner-1 {
    font-weight: 500px;
    font-size: 70px;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.5);
}

.destaques {
    width: 85vw;
    height: 570px;
    margin: 80px auto;

    background: #ffffff;
    box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.destaques h2 {
    font-size: 42px;
    font-weight: 900;
}

.destaques .conteudo-container {
    display: flex;
    justify-content: space-around;
    align-self: stretch;

}

.destaques .conteudo .img {
    width: 300px;
    height: 270px;

    background: #C6C6C6;
}

.destaques .conteudo-container p {
    font-size: 20px;
    font-weight: 600;
    width: 300px;

    padding-top: 20px;
}

#ver-mais {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    border: 0;

    background: #c4c4c4;

    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;

    transition: background .2s;
}

#ver-mais:hover {
    background: #7c7c7cb0;
}

.rodape {
    width: 100%;
    height: 250px;

    background: #ffffff;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-rodape .logo-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    border: 1px solid #000000;

    margin-left: 62px;
    margin-bottom: 20px;
}

.logo-rodape .logo-img img {
    width: 100%;
}

.logo-rodape h3 {
    font-size: 28px;
}

.rodape p {
    width: 270px;
    font-weight: 600;
}
